.payment-button {
    font-size: 16;
    background-color: #0288d1;
    color: #FFF;
    padding-left: 20;
    padding-right: 20;
    width: 100%;
    height: 35;
    box-shadow: 10px 10px 5px #888888;
    vertical-align: center;
    border-radius: 5;
}